<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Whoops! There was an error.</title>

    <style>.cf:before, .cf:after {content: " ";display: table;} .cf:after {clear: both;} .cf {*zoom: 1;}
body {
  font: 14px helvetica, arial, sans-serif;
  color: #2B2B2B;
  background-color: #D4D4D4;
  padding:0;
  margin: 0;
  max-height: 100%;
}
  a {
    text-decoration: none;
  }

.container{
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.branding {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #777777;
  font-size: 10px;
    z-index: 100;
}
  .branding a {
    color: #CD3F3F;
  }

header {
  padding: 30px 20px;
  color: white;
  background: #272727;
  box-sizing: border-box;
  border-left: 5px solid #CD3F3F;
}
  .exc-title {
    margin: 0;
    color: #616161;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  }
    .exc-title-primary { color: #CD3F3F; }
    .exc-message {
      font-size: 32px;
      margin: 5px 0;
      word-wrap: break-word;
    }

.stack-container {
    height: 100%;
    position: relative;
}

.details-container {
  height: 100%;
  overflow: auto;
  float: right;
  width: 70%;
  background: #DADADA;
}
  .details {
    padding: 10px;
    padding-left: 5px;
    border-left: 5px solid rgba(0, 0, 0, .1);
  }

.frames-container {
  height: 100%;
  overflow: auto;
  float: left;
  width: 30%;
  background: #FFF;
}
  .frame {
    padding: 14px;
    background: #F3F3F3;
    border-right: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
  }
    .frame.active {
      background-color: #4288CE;
      color: #F3F3F3;
              box-shadow: inset -2px 0 0 rgba(255, 255, 255, .1);
      text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    }

    .frame:not(.active):hover {
      background: #BEE9EA;
    }

    .frame-class, .frame-function, .frame-index {
      font-weight: bold;
    }

    .frame-index {
      font-size: 11px;
      color: #BDBDBD;
    }

    .frame-class {
      color: #4288CE;
    }
      .active .frame-class {
        color: #BEE9EA;
      }

    .frame-file {
      font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
      word-wrap:break-word;
    }

      .frame-file .editor-link {
        color: #272727;
      }

    .frame-line {
      font-weight: bold;
      color: #4288CE;
    }

    .active .frame-line { color: #BEE9EA; }
    .frame-line:before {
      content: ":";
    }

    .frame-code {
      padding: 10px;
      padding-left: 5px;
      background: #BDBDBD;
      display: none;
      border-left: 5px solid #4288CE;
    }

    .frame-code.active {
      display: block;
    }

    .frame-code .frame-file {
      background: #C6C6C6;
      color: #525252;
      text-shadow: 0 1px 0 #E7E7E7;
      padding: 10px 10px 5px 10px;

      border-top-right-radius: 6px;
      border-top-left-radius:  6px;

      border: 1px solid rgba(0, 0, 0, .1);
      border-bottom: none;
      box-shadow: inset 0 1px 0 #DADADA;
    }

    .code-block {
      padding: 10px;
      margin: 0;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }

    .linenums {
      margin: 0;
      margin-left: 10px;
    }

    .frame-comments {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      border: 1px solid rgba(0, 0, 0, .2);
      border-top: none;

      border-bottom-right-radius: 6px;
      border-bottom-left-radius:  6px;

      padding: 5px;
      font-size: 12px;
      background: #404040;
    }

    .frame-comments.empty {
      padding: 8px 15px;
    }

    .frame-comments.empty:before {
      content: "No comments for this stack frame.";
      font-style: italic;
      color: #828282;
    }

    .frame-comment {
      padding: 10px;
      color: #D2D2D2;
    }
      .frame-comment a {
        color: #BEE9EA;
        font-weight: bold;
        text-decoration: none;
      }
        .frame-comment a:hover {
          color: #4bb1b1;
        }

    .frame-comment:not(:last-child) {
      border-bottom: 1px dotted rgba(0, 0, 0, .3);
    }

    .frame-comment-context {
      font-size: 10px;
      font-weight: bold;
      color: #86D2B6;
    }

.data-table-container label {
  font-size: 16px;
  font-weight: bold;
  color: #4288CE;
  margin: 10px 0;
  padding: 10px 0;

  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgba(0, 0, 0, .2);
}
  .data-table {
    width: 100%;
    margin: 10px 0;
  }

  .data-table tbody {
    font: 13px "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
  }

  .data-table thead {
    display: none;
  }

  .data-table tr {
    padding: 5px 0;
  }

  .data-table td:first-child {
    width: 20%;
    min-width: 130px;
    overflow: hidden;
    font-weight: bold;
    color: #463C54;
    padding-right: 5px;

  }

  .data-table td:last-child {
    width: 80%;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .data-table .empty {
    color: rgba(0, 0, 0, .3);
    font-style: italic;
  }

.handler {
  padding: 10px;
  font: 14px "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}

.handler.active {
  color: #BBBBBB;
  background: #989898;
  font-weight: bold;
}

/* prettify code style
Uses the Doxy theme as a base */
pre .str, code .str { color: #BCD42A; }  /* string  */
pre .kwd, code .kwd { color: #4bb1b1;  font-weight: bold; }  /* keyword*/
pre .com, code .com { color: #888; font-weight: bold; } /* comment */
pre .typ, code .typ { color: #ef7c61; }  /* type  */
pre .lit, code .lit { color: #BCD42A; }  /* literal */
pre .pun, code .pun { color: #fff; font-weight: bold;  } /* punctuation  */
pre .pln, code .pln { color: #e9e4e5; }  /* plaintext  */
pre .tag, code .tag { color: #4bb1b1; }  /* html/xml tag  */
pre .htm, code .htm { color: #dda0dd; }  /* html tag */
pre .xsl, code .xsl { color: #d0a0d0; }  /* xslt tag */
pre .atn, code .atn { color: #ef7c61; font-weight: normal;} /* html/xml attribute name */
pre .atv, code .atv { color: #bcd42a; }  /* html/xml attribute value  */
pre .dec, code .dec { color: #606; }  /* decimal  */
pre.prettyprint, code.prettyprint {
  font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
  background: #333;
  color: #e9e4e5;
}
  pre.prettyprint {
    white-space: pre-wrap;
  }

  pre.prettyprint a, code.prettyprint a {
    text-decoration:none;
  }

  .linenums li {
    color: #A5A5A5;
  }

  .linenums li.current{
    background: rgba(255, 100, 100, .07);
    padding-top: 4px;
    padding-left: 1px;
  }
    .linenums li.current.active {
      background: rgba(255, 100, 100, .17);
    }

#plain-exception {
	display: none;
}

#copy-button {
	display: none;
	float: right;
	cursor: pointer;	
	border: 0;
}

.clipboard {
	width:            29px;
	height:           28px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gUUByMD0ZSoGQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAACAklEQVRIx72Wv0sbYRjHP29y1VoXxR9UskjpXTaHoBUcpGgKkS5OZ1Ec/QeKOIhalEghoOCqQsGhFAWbISKYyaFDS1BKKW0TCYrQSdElXSReh9bkksu9iZdLbnrvvee9z/N83+d9nldo2gvjzd5Hxp4246W6J5tJszsxwvxPIbXzwBQDLgABvM1P6JsAwzCkdopl5vqIuWev2K4QpH/4QjjQci/nPCVny3iaNzMcrVUsC1sChFMpwtTu8dTqx7J9dR3a2BngUb0j7Xr+jtjasBR8f+jpNqqqoqoqmqblxjOJq/8GTfhCK8TWhmmykdhRpEIIhBCWMcD51wQXN3KwY3nvYGYgQPbXOMHJKOlMA77QCvsbugXsOFLZ+5+jGULBtyQuFB4PzlrAVSWSGWaptpdbjAcniaZv6RhcIL6VByvVZqsQouBMdutJkrrVrr1/gdjqN4Ze/3DvyBwcnnF9I7N4gC8YYdqNSHP7uD5G/7pdJRrl/ecIva1t9IRcgpolLk6qQic8eB+6GOkdrDjSf/OiTD91CS4r+jXrMqWkrgvUtuDbeVNTKGzw6SRDto5QBc5Yehlg0WbTc8mwHCeld1u+yZSySySlspTHFmZUeIkrgBYvtvPcyBdXkqWKq5OLmbk/luqVYjPOd3lxLXf/J/P7mJ0oCL/fX1Yfs4RO5CxW8C97dLBw2Q3fUwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
</style>
  </head>
  <body>

    <div class="Whoops container">

      <div class="stack-container">
        <div class="frames-container cf ">
            <div class="frame active" id="frame-line-0">
      <div class="frame-method-info">
        <span class="frame-index">12.</span>
        <span class="frame-class">Symfony\Component\HttpKernel\Exception\NotFoundHttpException</span>
        <span class="frame-function"></span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Routing/&shy;RouteCollection.php<!--
   --><span class="frame-line">148</span>
    </span>
  </div>
  <div class="frame " id="frame-line-1">
      <div class="frame-method-info">
        <span class="frame-index">11.</span>
        <span class="frame-class">Illuminate\Routing\RouteCollection</span>
        <span class="frame-function">match</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Routing/&shy;Router.php<!--
   --><span class="frame-line">1054</span>
    </span>
  </div>
  <div class="frame " id="frame-line-2">
      <div class="frame-method-info">
        <span class="frame-index">10.</span>
        <span class="frame-class">Illuminate\Routing\Router</span>
        <span class="frame-function">findRoute</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Routing/&shy;Router.php<!--
   --><span class="frame-line">1022</span>
    </span>
  </div>
  <div class="frame " id="frame-line-3">
      <div class="frame-method-info">
        <span class="frame-index">9.</span>
        <span class="frame-class">Illuminate\Routing\Router</span>
        <span class="frame-function">dispatchToRoute</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Routing/&shy;Router.php<!--
   --><span class="frame-line">1001</span>
    </span>
  </div>
  <div class="frame " id="frame-line-4">
      <div class="frame-method-info">
        <span class="frame-index">8.</span>
        <span class="frame-class">Illuminate\Routing\Router</span>
        <span class="frame-function">dispatch</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Foundation/&shy;Application.php<!--
   --><span class="frame-line">775</span>
    </span>
  </div>
  <div class="frame " id="frame-line-5">
      <div class="frame-method-info">
        <span class="frame-index">7.</span>
        <span class="frame-class">Illuminate\Foundation\Application</span>
        <span class="frame-function">dispatch</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Foundation/&shy;Application.php<!--
   --><span class="frame-line">745</span>
    </span>
  </div>
  <div class="frame " id="frame-line-6">
      <div class="frame-method-info">
        <span class="frame-index">6.</span>
        <span class="frame-class">Illuminate\Foundation\Application</span>
        <span class="frame-function">handle</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Session/&shy;Middleware.php<!--
   --><span class="frame-line">72</span>
    </span>
  </div>
  <div class="frame " id="frame-line-7">
      <div class="frame-method-info">
        <span class="frame-index">5.</span>
        <span class="frame-class">Illuminate\Session\Middleware</span>
        <span class="frame-function">handle</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Cookie/&shy;Queue.php<!--
   --><span class="frame-line">47</span>
    </span>
  </div>
  <div class="frame " id="frame-line-8">
      <div class="frame-method-info">
        <span class="frame-index">4.</span>
        <span class="frame-class">Illuminate\Cookie\Queue</span>
        <span class="frame-function">handle</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Cookie/&shy;Guard.php<!--
   --><span class="frame-line">51</span>
    </span>
  </div>
  <div class="frame " id="frame-line-9">
      <div class="frame-method-info">
        <span class="frame-index">3.</span>
        <span class="frame-class">Illuminate\Cookie\Guard</span>
        <span class="frame-function">handle</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;stack/&shy;builder/&shy;src/&shy;Stack/&shy;StackedHttpKernel.php<!--
   --><span class="frame-line">23</span>
    </span>
  </div>
  <div class="frame " id="frame-line-10">
      <div class="frame-method-info">
        <span class="frame-index">2.</span>
        <span class="frame-class">Stack\StackedHttpKernel</span>
        <span class="frame-function">handle</span>
      </div>

    <span class="frame-file">
      …/&shy;vendor/&shy;laravel/&shy;framework/&shy;src/&shy;Illuminate/&shy;Foundation/&shy;Application.php<!--
   --><span class="frame-line">641</span>
    </span>
  </div>
  <div class="frame " id="frame-line-11">
      <div class="frame-method-info">
        <span class="frame-index">1.</span>
        <span class="frame-class">Illuminate\Foundation\Application</span>
        <span class="frame-function">run</span>
      </div>

    <span class="frame-file">
      …/&shy;public/&shy;index.php<!--
   --><span class="frame-line">49</span>
    </span>
  </div>
  <div class="frame " id="frame-line-12">
      <div class="frame-method-info">
        <span class="frame-index">0.</span>
        <span class="frame-class"></span>
        <span class="frame-function">require_once</span>
      </div>

    <span class="frame-file">
      …/&shy;server.php<!--
   --><span class="frame-line">19</span>
    </span>
  </div>
        </div>
        <div class="details-container cf">
          <header>
            <div class="exception">
  <h3 class="exc-title">
                  Symfony \                        Component \                        HttpKernel \                        Exception \                        <span class="exc-title-primary">NotFoundHttpException</span>
                  <button id="copy-button" class="clipboard" data-clipboard-target="plain-exception" title="copy exception into clipboard"></button>
    <span id="plain-exception">Symfony\Component\HttpKernel\Exception\NotFoundHttpException thrown with message &quot;&quot;

Stacktrace:
#12 Symfony\Component\HttpKernel\Exception\NotFoundHttpException in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/RouteCollection.php:148
#11 Illuminate\Routing\RouteCollection:match in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/Router.php:1054
#10 Illuminate\Routing\Router:findRoute in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/Router.php:1022
#9 Illuminate\Routing\Router:dispatchToRoute in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/Router.php:1001
#8 Illuminate\Routing\Router:dispatch in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Foundation/Application.php:775
#7 Illuminate\Foundation\Application:dispatch in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Foundation/Application.php:745
#6 Illuminate\Foundation\Application:handle in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Session/Middleware.php:72
#5 Illuminate\Session\Middleware:handle in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Cookie/Queue.php:47
#4 Illuminate\Cookie\Queue:handle in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Cookie/Guard.php:51
#3 Illuminate\Cookie\Guard:handle in /Applications/MAMP/htdocs/laravel/vendor/stack/builder/src/Stack/StackedHttpKernel.php:23
#2 Stack\StackedHttpKernel:handle in /Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Foundation/Application.php:641
#1 Illuminate\Foundation\Application:run in /Applications/MAMP/htdocs/laravel/public/index.php:49
#0 require_once in /Applications/MAMP/htdocs/laravel/server.php:19
</span>
  </h3>
  <p class="exc-message">
      </p>
</div>
          </header>
          <div class="frame-code-container ">
            <div class="frame-code active" id="frame-code-0">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FRouting%2FRouteCollection.php&line=148" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/RouteCollection.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:141">		$others = $this-&gt;checkForAlternateVerbs($request);

		if (count($others) &gt; 0)
		{
			return $this-&gt;getOtherMethodsRoute($request, $others);
		}

		throw new NotFoundHttpException;
	}
</pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-1">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FRouting%2FRouter.php&line=1054" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/Router.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:1047">	 * Find the route matching a given request.
	 *
	 * @param  \Illuminate\Http\Request  $request
	 * @return \Illuminate\Routing\Route
	 */
	protected function findRoute($request)
	{
		$this-&gt;current = $route = $this-&gt;routes-&gt;match($request);
 
		return $this-&gt;substituteBindings($route);</pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-2">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FRouting%2FRouter.php&line=1022" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/Router.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:1015">	 * Dispatch the request to a route and return the response.
	 *
	 * @param  \Illuminate\Http\Request  $request
	 * @return mixed
	 */
	public function dispatchToRoute(Request $request)
	{
		$route = $this-&gt;findRoute($request);
 
		$this-&gt;events-&gt;fire(&#039;router.matched&#039;, array($route, $request));</pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-3">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FRouting%2FRouter.php&line=1001" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Routing/Router.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:994">		// If no response was returned from the before filter, we will call the proper
		// route instance to get the response. If no route is found a response will
		// still get returned based on why no routes were found for this request.
		$response = $this-&gt;callFilter(&#039;before&#039;, $request);
 
		if (is_null($response))
		{
			$response = $this-&gt;dispatchToRoute($request);
		}
 </pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-4">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FFoundation%2FApplication.php&line=775" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Foundation/Application.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:768">		}
 
		if ($this-&gt;runningUnitTests() &amp;&amp; ! $this[&#039;session&#039;]-&gt;isStarted())
		{
			$this[&#039;session&#039;]-&gt;start();
		}
 
		return $this[&#039;router&#039;]-&gt;dispatch($this-&gt;prepareRequest($request));
	}
 </pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-5">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FFoundation%2FApplication.php&line=745" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Foundation/Application.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:738">	{
		try
		{
			$this-&gt;refreshRequest($request = Request::createFromBase($request));
 
			$this-&gt;boot();
 
			return $this-&gt;dispatch($request);
		}
		catch (\Exception $e)</pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-6">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FSession%2FMiddleware.php&line=72" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Session/Middleware.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:65">		if ($this-&gt;sessionConfigured())
		{
			$session = $this-&gt;startSession($request);
 
			$request-&gt;setSession($session);
		}
 
		$response = $this-&gt;app-&gt;handle($request, $type, $catch);
 
		// Again, if the session has been configured we will need to close out the session</pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-7">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FCookie%2FQueue.php&line=47" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Cookie/Queue.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:40">	 * @param  \Symfony\Component\HttpFoundation\Request  $request
	 * @param  int   $type
	 * @param  bool  $catch
	 * @return \Symfony\Component\HttpFoundation\Response
	 */
	public function handle(Request $request, $type = HttpKernelInterface::MASTER_REQUEST, $catch = true)
	{
		$response = $this-&gt;app-&gt;handle($request, $type, $catch);
 
		foreach ($this-&gt;cookies-&gt;getQueuedCookies() as $cookie)</pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-8">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FCookie%2FGuard.php&line=51" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Cookie/Guard.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:44">	 * @param  \Symfony\Component\HttpFoundation\Request  $request
	 * @param  int   $type
	 * @param  bool  $catch
	 * @return \Symfony\Component\HttpFoundation\Response
	 */
	public function handle(Request $request, $type = HttpKernelInterface::MASTER_REQUEST, $catch = true)
	{
		return $this-&gt;encrypt($this-&gt;app-&gt;handle($this-&gt;decrypt($request), $type, $catch));
	}
 </pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-9">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Fstack%2Fbuilder%2Fsrc%2FStack%2FStackedHttpKernel.php&line=23" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/stack/builder/src/Stack/StackedHttpKernel.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:16">    {
        $this-&gt;app = $app;
        $this-&gt;middlewares = $middlewares;
    }
 
    public function handle(Request $request, $type = HttpKernelInterface::MASTER_REQUEST, $catch = true)
    {
        return $this-&gt;app-&gt;handle($request, $type, $catch);
    }
 </pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-10">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FFoundation%2FApplication.php&line=641" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/vendor/laravel/framework/src/Illuminate/Foundation/Application.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:634">	 * @param  \Symfony\Component\HttpFoundation\Request  $request
	 * @return void
	 */
	public function run(SymfonyRequest $request = null)
	{
		$request = $request ?: $this[&#039;request&#039;];
 
		$response = with($stack = $this-&gt;getStackedClient())-&gt;handle($request);
 
		$response-&gt;send();</pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-11">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fpublic%2Findex.php&line=49" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/public/index.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:42">| Once we have the application, we can simply call the run method,
| which will execute the request and send the response back to
| the client&#039;s browser allowing them to enjoy the creative
| and wonderful application we have whipped up for them.
|
*/
 
$app-&gt;run();
 </pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
            <div class="frame-code " id="frame-code-12">
        <div class="frame-file">
                                Open:
            <a href="subl://open?url=file://%2FApplications%2FMAMP%2Fhtdocs%2Flaravel%2Fserver.php&line=19" class="editor-link">
              <strong>/Applications/MAMP/htdocs/laravel/server.php</strong>
            </a>
                  </div>
                    <pre class="code-block prettyprint linenums:12">// built-in PHP web server. This provides a convenient way to test a Laravel
// application without having installed a &quot;real&quot; web server software here.
if ($uri !== &#039;/&#039; and file_exists($requested))
{
	return false;
}
 
require_once $paths[&#039;public&#039;].&#039;/index.php&#039;;
 </pre>
                  
                <div class="frame-comments empty">
                  </div>

      </div>
  </div>
          <div class="details">
  <div class="data-table-container" id="data-tables">
          <div class="data-table" id="sg-serverrequest-data">
        <label>Server/Request Data</label>
                    <table class="data-table">
              <thead>
                <tr>
                  <td class="data-table-k">Key</td>
                  <td class="data-table-v">Value</td>
                </tr>
              </thead>
                          <tr>
                <td>DOCUMENT_ROOT</td>
                <td>/Applications/MAMP/htdocs/laravel/public</td>
              </tr>
                          <tr>
                <td>REMOTE_ADDR</td>
                <td>::1</td>
              </tr>
                          <tr>
                <td>REMOTE_PORT</td>
                <td>53918</td>
              </tr>
                          <tr>
                <td>SERVER_SOFTWARE</td>
                <td>PHP 5.5.18 Development Server</td>
              </tr>
                          <tr>
                <td>SERVER_PROTOCOL</td>
                <td>HTTP/1.1</td>
              </tr>
                          <tr>
                <td>SERVER_NAME</td>
                <td>localhost</td>
              </tr>
                          <tr>
                <td>SERVER_PORT</td>
                <td>8000</td>
              </tr>
                          <tr>
                <td>REQUEST_URI</td>
                <td>/css/signup.css</td>
              </tr>
                          <tr>
                <td>REQUEST_METHOD</td>
                <td>GET</td>
              </tr>
                          <tr>
                <td>SCRIPT_NAME</td>
                <td>/css/signup.css</td>
              </tr>
                          <tr>
                <td>SCRIPT_FILENAME</td>
                <td>/Applications/MAMP/htdocs/laravel/public/server.php</td>
              </tr>
                          <tr>
                <td>PHP_SELF</td>
                <td>/css/signup.css</td>
              </tr>
                          <tr>
                <td>HTTP_HOST</td>
                <td>localhost:8000</td>
              </tr>
                          <tr>
                <td>HTTP_CONNECTION</td>
                <td>keep-alive</td>
              </tr>
                          <tr>
                <td>HTTP_USER_AGENT</td>
                <td>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.89 Safari/537.36</td>
              </tr>
                          <tr>
                <td>HTTP_ACCEPT_ENCODING</td>
                <td>gzip, deflate, sdch</td>
              </tr>
                          <tr>
                <td>HTTP_ACCEPT_LANGUAGE</td>
                <td>en-US,en;q=0.8</td>
              </tr>
                          <tr>
                <td>HTTP_COOKIE</td>
                <td>SQLiteManager_currentLangue=2; laravel_session=eyJpdiI6IlZJZGpoSEl0ZWpJekFzWDF6SzdjeHc9PSIsInZhbHVlIjoiMGxPQjEyM1R2RlpOd2ZpcTNITUJVYVIrK051UnJiNEFvVzhrSUhDeU9UYVN6aDdlQVdPdzh4Y3pBcXI5Y1ZkMXF1REs4VEhxRStxU2hKeFhHRG1IUUE9PSIsIm1hYyI6IjRiOTMxMjFlYjRlNDZmNGQ2ZjBmY2FmNmJhMmRhNmFlYWQwMTBmNThmMjZmOTFkOTNjODhkNTkwM2FkMDQwZjEifQ%3D%3D</td>
              </tr>
                          <tr>
                <td>REQUEST_TIME_FLOAT</td>
                <td>1426495449.41</td>
              </tr>
                          <tr>
                <td>REQUEST_TIME</td>
                <td>1426495449</td>
              </tr>
                          <tr>
                <td>argv</td>
                <td>Array
(
)
</td>
              </tr>
                          <tr>
                <td>argc</td>
                <td>0</td>
              </tr>
                        </table>
              </div>
          <div class="data-table" id="sg-get-data">
        <label>GET Data</label>
                  <span class="empty">empty</span>
              </div>
          <div class="data-table" id="sg-post-data">
        <label>POST Data</label>
                  <span class="empty">empty</span>
              </div>
          <div class="data-table" id="sg-files">
        <label>Files</label>
                  <span class="empty">empty</span>
              </div>
          <div class="data-table" id="sg-cookies">
        <label>Cookies</label>
                    <table class="data-table">
              <thead>
                <tr>
                  <td class="data-table-k">Key</td>
                  <td class="data-table-v">Value</td>
                </tr>
              </thead>
                          <tr>
                <td>SQLiteManager_currentLangue</td>
                <td>2</td>
              </tr>
                          <tr>
                <td>laravel_session</td>
                <td>eyJpdiI6IlZJZGpoSEl0ZWpJekFzWDF6SzdjeHc9PSIsInZhbHVlIjoiMGxPQjEyM1R2RlpOd2ZpcTNITUJVYVIrK051UnJiNEFvVzhrSUhDeU9UYVN6aDdlQVdPdzh4Y3pBcXI5Y1ZkMXF1REs4VEhxRStxU2hKeFhHRG1IUUE9PSIsIm1hYyI6IjRiOTMxMjFlYjRlNDZmNGQ2ZjBmY2FmNmJhMmRhNmFlYWQwMTBmNThmMjZmOTFkOTNjODhkNTkwM2FkMDQwZjEifQ==</td>
              </tr>
                        </table>
              </div>
          <div class="data-table" id="sg-session">
        <label>Session</label>
                  <span class="empty">empty</span>
              </div>
          <div class="data-table" id="sg-environment-variables">
        <label>Environment Variables</label>
                    <table class="data-table">
              <thead>
                <tr>
                  <td class="data-table-k">Key</td>
                  <td class="data-table-v">Value</td>
                </tr>
              </thead>
                          <tr>
                <td>TERM_PROGRAM</td>
                <td>Apple_Terminal</td>
              </tr>
                          <tr>
                <td>TERM</td>
                <td>xterm-256color</td>
              </tr>
                          <tr>
                <td>SHELL</td>
                <td>/bin/bash</td>
              </tr>
                          <tr>
                <td>TMPDIR</td>
                <td>/var/folders/_z/85bvnv3j1n7fmz2_bn6p3xwm0000gn/T/</td>
              </tr>
                          <tr>
                <td>Apple_PubSub_Socket_Render</td>
                <td>/tmp/launch-PuviOd/Render</td>
              </tr>
                          <tr>
                <td>TERM_PROGRAM_VERSION</td>
                <td>326</td>
              </tr>
                          <tr>
                <td>TERM_SESSION_ID</td>
                <td>B065FDA3-918C-4AB1-98A9-1C48A4D1A829</td>
              </tr>
                          <tr>
                <td>USER</td>
                <td>Craft</td>
              </tr>
                          <tr>
                <td>SSH_AUTH_SOCK</td>
                <td>/tmp/launch-S1e3FE/Listeners</td>
              </tr>
                          <tr>
                <td>__CF_USER_TEXT_ENCODING</td>
                <td>0x1F5:0:0</td>
              </tr>
                          <tr>
                <td>__CHECKFIX1436934</td>
                <td>1</td>
              </tr>
                          <tr>
                <td>PATH</td>
                <td>/Applications/MAMP/bin/php/php5.5.18/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</td>
              </tr>
                          <tr>
                <td>_</td>
                <td>/Applications/MAMP/bin/php/php5.5.18/bin/php</td>
              </tr>
                          <tr>
                <td>PWD</td>
                <td>/applications/mamp/htdocs/laravel</td>
              </tr>
                          <tr>
                <td>LANG</td>
                <td>en_US.UTF-8</td>
              </tr>
                          <tr>
                <td>HOME</td>
                <td>/Users/Craft</td>
              </tr>
                          <tr>
                <td>SHLVL</td>
                <td>2</td>
              </tr>
                          <tr>
                <td>LOGNAME</td>
                <td>Craft</td>
              </tr>
                        </table>
              </div>
      </div>

    <div class="data-table-container" id="handlers">
    <label>Registered Handlers</label>
          <div class="handler active">
        0. Whoops\Handler\PrettyPageHandler      </div>
      </div>

</div>
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.3.5/ZeroClipboard.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
    <script>/* Zepto v1.1.3 - zepto event ajax form ie - zeptojs.com/license */
var Zepto=function(){function L(t){return null==t?String(t):j[T.call(t)]||"object"}function Z(t){return"function"==L(t)}function $(t){return null!=t&&t==t.window}function _(t){return null!=t&&t.nodeType==t.DOCUMENT_NODE}function D(t){return"object"==L(t)}function R(t){return D(t)&&!$(t)&&Object.getPrototypeOf(t)==Object.prototype}function M(t){return"number"==typeof t.length}function k(t){return s.call(t,function(t){return null!=t})}function z(t){return t.length>0?n.fn.concat.apply([],t):t}function F(t){return t.replace(/::/g,"/").replace(/([A-Z]+)([A-Z][a-z])/g,"$1_$2").replace(/([a-z\d])([A-Z])/g,"$1_$2").replace(/_/g,"-").toLowerCase()}function q(t){return t in f?f[t]:f[t]=new RegExp("(^|\\s)"+t+"(\\s|$)")}function H(t,e){return"number"!=typeof e||c[F(t)]?e:e+"px"}function I(t){var e,n;return u[t]||(e=a.createElement(t),a.body.appendChild(e),n=getComputedStyle(e,"").getPropertyValue("display"),e.parentNode.removeChild(e),"none"==n&&(n="block"),u[t]=n),u[t]}function V(t){return"children"in t?o.call(t.children):n.map(t.childNodes,function(t){return 1==t.nodeType?t:void 0})}function U(n,i,r){for(e in i)r&&(R(i[e])||A(i[e]))?(R(i[e])&&!R(n[e])&&(n[e]={}),A(i[e])&&!A(n[e])&&(n[e]=[]),U(n[e],i[e],r)):i[e]!==t&&(n[e]=i[e])}function B(t,e){return null==e?n(t):n(t).filter(e)}function J(t,e,n,i){return Z(e)?e.call(t,n,i):e}function X(t,e,n){null==n?t.removeAttribute(e):t.setAttribute(e,n)}function W(e,n){var i=e.className,r=i&&i.baseVal!==t;return n===t?r?i.baseVal:i:void(r?i.baseVal=n:e.className=n)}function Y(t){var e;try{return t?"true"==t||("false"==t?!1:"null"==t?null:/^0/.test(t)||isNaN(e=Number(t))?/^[\[\{]/.test(t)?n.parseJSON(t):t:e):t}catch(i){return t}}function G(t,e){e(t);for(var n in t.childNodes)G(t.childNodes[n],e)}var t,e,n,i,C,N,r=[],o=r.slice,s=r.filter,a=window.document,u={},f={},c={"column-count":1,columns:1,"font-weight":1,"line-height":1,opacity:1,"z-index":1,zoom:1},l=/^\s*<(\w+|!)[^>]*>/,h=/^<(\w+)\s*\/?>(?:<\/\1>|)$/,p=/<(?!area|br|col|embed|hr|img|input|link|meta|param)(([\w:]+)[^>]*)\/>/gi,d=/^(?:body|html)$/i,m=/([A-Z])/g,g=["val","css","html","text","data","width","height","offset"],v=["after","prepend","before","append"],y=a.createElement("table"),x=a.createElement("tr"),b={tr:a.createElement("tbody"),tbody:y,thead:y,tfoot:y,td:x,th:x,"*":a.createElement("div")},w=/complete|loaded|interactive/,E=/^[\w-]*$/,j={},T=j.toString,S={},O=a.createElement("div"),P={tabindex:"tabIndex",readonly:"readOnly","for":"htmlFor","class":"className",maxlength:"maxLength",cellspacing:"cellSpacing",cellpadding:"cellPadding",rowspan:"rowSpan",colspan:"colSpan",usemap:"useMap",frameborder:"frameBorder",contenteditable:"contentEditable"},A=Array.isArray||function(t){return t instanceof Array};return S.matches=function(t,e){if(!e||!t||1!==t.nodeType)return!1;var n=t.webkitMatchesSelector||t.mozMatchesSelector||t.oMatchesSelector||t.matchesSelector;if(n)return n.call(t,e);var i,r=t.parentNode,o=!r;return o&&(r=O).appendChild(t),i=~S.qsa(r,e).indexOf(t),o&&O.removeChild(t),i},C=function(t){return t.replace(/-+(.)?/g,function(t,e){return e?e.toUpperCase():""})},N=function(t){return s.call(t,function(e,n){return t.indexOf(e)==n})},S.fragment=function(e,i,r){var s,u,f;return h.test(e)&&(s=n(a.createElement(RegExp.$1))),s||(e.replace&&(e=e.replace(p,"<$1></$2>")),i===t&&(i=l.test(e)&&RegExp.$1),i in b||(i="*"),f=b[i],f.innerHTML=""+e,s=n.each(o.call(f.childNodes),function(){f.removeChild(this)})),R(r)&&(u=n(s),n.each(r,function(t,e){g.indexOf(t)>-1?u[t](e):u.attr(t,e)})),s},S.Z=function(t,e){return t=t||[],t.__proto__=n.fn,t.selector=e||"",t},S.isZ=function(t){return t instanceof S.Z},S.init=function(e,i){var r;if(!e)return S.Z();if("string"==typeof e)if(e=e.trim(),"<"==e[0]&&l.test(e))r=S.fragment(e,RegExp.$1,i),e=null;else{if(i!==t)return n(i).find(e);r=S.qsa(a,e)}else{if(Z(e))return n(a).ready(e);if(S.isZ(e))return e;if(A(e))r=k(e);else if(D(e))r=[e],e=null;else if(l.test(e))r=S.fragment(e.trim(),RegExp.$1,i),e=null;else{if(i!==t)return n(i).find(e);r=S.qsa(a,e)}}return S.Z(r,e)},n=function(t,e){return S.init(t,e)},n.extend=function(t){var e,n=o.call(arguments,1);return"boolean"==typeof t&&(e=t,t=n.shift()),n.forEach(function(n){U(t,n,e)}),t},S.qsa=function(t,e){var n,i="#"==e[0],r=!i&&"."==e[0],s=i||r?e.slice(1):e,a=E.test(s);return _(t)&&a&&i?(n=t.getElementById(s))?[n]:[]:1!==t.nodeType&&9!==t.nodeType?[]:o.call(a&&!i?r?t.getElementsByClassName(s):t.getElementsByTagName(e):t.querySelectorAll(e))},n.contains=function(t,e){return t!==e&&t.contains(e)},n.type=L,n.isFunction=Z,n.isWindow=$,n.isArray=A,n.isPlainObject=R,n.isEmptyObject=function(t){var e;for(e in t)return!1;return!0},n.inArray=function(t,e,n){return r.indexOf.call(e,t,n)},n.camelCase=C,n.trim=function(t){return null==t?"":String.prototype.trim.call(t)},n.uuid=0,n.support={},n.expr={},n.map=function(t,e){var n,r,o,i=[];if(M(t))for(r=0;r<t.length;r++)n=e(t[r],r),null!=n&&i.push(n);else for(o in t)n=e(t[o],o),null!=n&&i.push(n);return z(i)},n.each=function(t,e){var n,i;if(M(t)){for(n=0;n<t.length;n++)if(e.call(t[n],n,t[n])===!1)return t}else for(i in t)if(e.call(t[i],i,t[i])===!1)return t;return t},n.grep=function(t,e){return s.call(t,e)},window.JSON&&(n.parseJSON=JSON.parse),n.each("Boolean Number String Function Array Date RegExp Object Error".split(" "),function(t,e){j["[object "+e+"]"]=e.toLowerCase()}),n.fn={forEach:r.forEach,reduce:r.reduce,push:r.push,sort:r.sort,indexOf:r.indexOf,concat:r.concat,map:function(t){return n(n.map(this,function(e,n){return t.call(e,n,e)}))},slice:function(){return n(o.apply(this,arguments))},ready:function(t){return w.test(a.readyState)&&a.body?t(n):a.addEventListener("DOMContentLoaded",function(){t(n)},!1),this},get:function(e){return e===t?o.call(this):this[e>=0?e:e+this.length]},toArray:function(){return this.get()},size:function(){return this.length},remove:function(){return this.each(function(){null!=this.parentNode&&this.parentNode.removeChild(this)})},each:function(t){return r.every.call(this,function(e,n){return t.call(e,n,e)!==!1}),this},filter:function(t){return Z(t)?this.not(this.not(t)):n(s.call(this,function(e){return S.matches(e,t)}))},add:function(t,e){return n(N(this.concat(n(t,e))))},is:function(t){return this.length>0&&S.matches(this[0],t)},not:function(e){var i=[];if(Z(e)&&e.call!==t)this.each(function(t){e.call(this,t)||i.push(this)});else{var r="string"==typeof e?this.filter(e):M(e)&&Z(e.item)?o.call(e):n(e);this.forEach(function(t){r.indexOf(t)<0&&i.push(t)})}return n(i)},has:function(t){return this.filter(function(){return D(t)?n.contains(this,t):n(this).find(t).size()})},eq:function(t){return-1===t?this.slice(t):this.slice(t,+t+1)},first:function(){var t=this[0];return t&&!D(t)?t:n(t)},last:function(){var t=this[this.length-1];return t&&!D(t)?t:n(t)},find:function(t){var e,i=this;return e="object"==typeof t?n(t).filter(function(){var t=this;return r.some.call(i,function(e){return n.contains(e,t)})}):1==this.length?n(S.qsa(this[0],t)):this.map(function(){return S.qsa(this,t)})},closest:function(t,e){var i=this[0],r=!1;for("object"==typeof t&&(r=n(t));i&&!(r?r.indexOf(i)>=0:S.matches(i,t));)i=i!==e&&!_(i)&&i.parentNode;return n(i)},parents:function(t){for(var e=[],i=this;i.length>0;)i=n.map(i,function(t){return(t=t.parentNode)&&!_(t)&&e.indexOf(t)<0?(e.push(t),t):void 0});return B(e,t)},parent:function(t){return B(N(this.pluck("parentNode")),t)},children:function(t){return B(this.map(function(){return V(this)}),t)},contents:function(){return this.map(function(){return o.call(this.childNodes)})},siblings:function(t){return B(this.map(function(t,e){return s.call(V(e.parentNode),function(t){return t!==e})}),t)},empty:function(){return this.each(function(){this.innerHTML=""})},pluck:function(t){return n.map(this,function(e){return e[t]})},show:function(){return this.each(function(){"none"==this.style.display&&(this.style.display=""),"none"==getComputedStyle(this,"").getPropertyValue("display")&&(this.style.display=I(this.nodeName))})},replaceWith:function(t){return this.before(t).remove()},wrap:function(t){var e=Z(t);if(this[0]&&!e)var i=n(t).get(0),r=i.parentNode||this.length>1;return this.each(function(o){n(this).wrapAll(e?t.call(this,o):r?i.cloneNode(!0):i)})},wrapAll:function(t){if(this[0]){n(this[0]).before(t=n(t));for(var e;(e=t.children()).length;)t=e.first();n(t).append(this)}return this},wrapInner:function(t){var e=Z(t);return this.each(function(i){var r=n(this),o=r.contents(),s=e?t.call(this,i):t;o.length?o.wrapAll(s):r.append(s)})},unwrap:function(){return this.parent().each(function(){n(this).replaceWith(n(this).children())}),this},clone:function(){return this.map(function(){return this.cloneNode(!0)})},hide:function(){return this.css("display","none")},toggle:function(e){return this.each(function(){var i=n(this);(e===t?"none"==i.css("display"):e)?i.show():i.hide()})},prev:function(t){return n(this.pluck("previousElementSibling")).filter(t||"*")},next:function(t){return n(this.pluck("nextElementSibling")).filter(t||"*")},html:function(t){return 0===arguments.length?this.length>0?this[0].innerHTML:null:this.each(function(e){var i=this.innerHTML;n(this).empty().append(J(this,t,e,i))})},text:function(e){return 0===arguments.length?this.length>0?this[0].textContent:null:this.each(function(){this.textContent=e===t?"":""+e})},attr:function(n,i){var r;return"string"==typeof n&&i===t?0==this.length||1!==this[0].nodeType?t:"value"==n&&"INPUT"==this[0].nodeName?this.val():!(r=this[0].getAttribute(n))&&n in this[0]?this[0][n]:r:this.each(function(t){if(1===this.nodeType)if(D(n))for(e in n)X(this,e,n[e]);else X(this,n,J(this,i,t,this.getAttribute(n)))})},removeAttr:function(t){return this.each(function(){1===this.nodeType&&X(this,t)})},prop:function(e,n){return e=P[e]||e,n===t?this[0]&&this[0][e]:this.each(function(t){this[e]=J(this,n,t,this[e])})},data:function(e,n){var i=this.attr("data-"+e.replace(m,"-$1").toLowerCase(),n);return null!==i?Y(i):t},val:function(t){return 0===arguments.length?this[0]&&(this[0].multiple?n(this[0]).find("option").filter(function(){return this.selected}).pluck("value"):this[0].value):this.each(function(e){this.value=J(this,t,e,this.value)})},offset:function(t){if(t)return this.each(function(e){var i=n(this),r=J(this,t,e,i.offset()),o=i.offsetParent().offset(),s={top:r.top-o.top,left:r.left-o.left};"static"==i.css("position")&&(s.position="relative"),i.css(s)});if(0==this.length)return null;var e=this[0].getBoundingClientRect();return{left:e.left+window.pageXOffset,top:e.top+window.pageYOffset,width:Math.round(e.width),height:Math.round(e.height)}},css:function(t,i){if(arguments.length<2){var r=this[0],o=getComputedStyle(r,"");if(!r)return;if("string"==typeof t)return r.style[C(t)]||o.getPropertyValue(t);if(A(t)){var s={};return n.each(A(t)?t:[t],function(t,e){s[e]=r.style[C(e)]||o.getPropertyValue(e)}),s}}var a="";if("string"==L(t))i||0===i?a=F(t)+":"+H(t,i):this.each(function(){this.style.removeProperty(F(t))});else for(e in t)t[e]||0===t[e]?a+=F(e)+":"+H(e,t[e])+";":this.each(function(){this.style.removeProperty(F(e))});return this.each(function(){this.style.cssText+=";"+a})},index:function(t){return t?this.indexOf(n(t)[0]):this.parent().children().indexOf(this[0])},hasClass:function(t){return t?r.some.call(this,function(t){return this.test(W(t))},q(t)):!1},addClass:function(t){return t?this.each(function(e){i=[];var r=W(this),o=J(this,t,e,r);o.split(/\s+/g).forEach(function(t){n(this).hasClass(t)||i.push(t)},this),i.length&&W(this,r+(r?" ":"")+i.join(" "))}):this},removeClass:function(e){return this.each(function(n){return e===t?W(this,""):(i=W(this),J(this,e,n,i).split(/\s+/g).forEach(function(t){i=i.replace(q(t)," ")}),void W(this,i.trim()))})},toggleClass:function(e,i){return e?this.each(function(r){var o=n(this),s=J(this,e,r,W(this));s.split(/\s+/g).forEach(function(e){(i===t?!o.hasClass(e):i)?o.addClass(e):o.removeClass(e)})}):this},scrollTop:function(e){if(this.length){var n="scrollTop"in this[0];return e===t?n?this[0].scrollTop:this[0].pageYOffset:this.each(n?function(){this.scrollTop=e}:function(){this.scrollTo(this.scrollX,e)})}},scrollLeft:function(e){if(this.length){var n="scrollLeft"in this[0];return e===t?n?this[0].scrollLeft:this[0].pageXOffset:this.each(n?function(){this.scrollLeft=e}:function(){this.scrollTo(e,this.scrollY)})}},position:function(){if(this.length){var t=this[0],e=this.offsetParent(),i=this.offset(),r=d.test(e[0].nodeName)?{top:0,left:0}:e.offset();return i.top-=parseFloat(n(t).css("margin-top"))||0,i.left-=parseFloat(n(t).css("margin-left"))||0,r.top+=parseFloat(n(e[0]).css("border-top-width"))||0,r.left+=parseFloat(n(e[0]).css("border-left-width"))||0,{top:i.top-r.top,left:i.left-r.left}}},offsetParent:function(){return this.map(function(){for(var t=this.offsetParent||a.body;t&&!d.test(t.nodeName)&&"static"==n(t).css("position");)t=t.offsetParent;return t})}},n.fn.detach=n.fn.remove,["width","height"].forEach(function(e){var i=e.replace(/./,function(t){return t[0].toUpperCase()});n.fn[e]=function(r){var o,s=this[0];return r===t?$(s)?s["inner"+i]:_(s)?s.documentElement["scroll"+i]:(o=this.offset())&&o[e]:this.each(function(t){s=n(this),s.css(e,J(this,r,t,s[e]()))})}}),v.forEach(function(t,e){var i=e%2;n.fn[t]=function(){var t,o,r=n.map(arguments,function(e){return t=L(e),"object"==t||"array"==t||null==e?e:S.fragment(e)}),s=this.length>1;return r.length<1?this:this.each(function(t,a){o=i?a:a.parentNode,a=0==e?a.nextSibling:1==e?a.firstChild:2==e?a:null,r.forEach(function(t){if(s)t=t.cloneNode(!0);else if(!o)return n(t).remove();G(o.insertBefore(t,a),function(t){null==t.nodeName||"SCRIPT"!==t.nodeName.toUpperCase()||t.type&&"text/javascript"!==t.type||t.src||window.eval.call(window,t.innerHTML)})})})},n.fn[i?t+"To":"insert"+(e?"Before":"After")]=function(e){return n(e)[t](this),this}}),S.Z.prototype=n.fn,S.uniq=N,S.deserializeValue=Y,n.zepto=S,n}();window.Zepto=Zepto,void 0===window.$&&(window.$=Zepto),function(t){function l(t){return t._zid||(t._zid=e++)}function h(t,e,n,i){if(e=p(e),e.ns)var r=d(e.ns);return(s[l(t)]||[]).filter(function(t){return!(!t||e.e&&t.e!=e.e||e.ns&&!r.test(t.ns)||n&&l(t.fn)!==l(n)||i&&t.sel!=i)})}function p(t){var e=(""+t).split(".");return{e:e[0],ns:e.slice(1).sort().join(" ")}}function d(t){return new RegExp("(?:^| )"+t.replace(" "," .* ?")+"(?: |$)")}function m(t,e){return t.del&&!u&&t.e in f||!!e}function g(t){return c[t]||u&&f[t]||t}function v(e,i,r,o,a,u,f){var h=l(e),d=s[h]||(s[h]=[]);i.split(/\s/).forEach(function(i){if("ready"==i)return t(document).ready(r);var s=p(i);s.fn=r,s.sel=a,s.e in c&&(r=function(e){var n=e.relatedTarget;return!n||n!==this&&!t.contains(this,n)?s.fn.apply(this,arguments):void 0}),s.del=u;var l=u||r;s.proxy=function(t){if(t=j(t),!t.isImmediatePropagationStopped()){t.data=o;var i=l.apply(e,t._args==n?[t]:[t].concat(t._args));return i===!1&&(t.preventDefault(),t.stopPropagation()),i}},s.i=d.length,d.push(s),"addEventListener"in e&&e.addEventListener(g(s.e),s.proxy,m(s,f))})}function y(t,e,n,i,r){var o=l(t);(e||"").split(/\s/).forEach(function(e){h(t,e,n,i).forEach(function(e){delete s[o][e.i],"removeEventListener"in t&&t.removeEventListener(g(e.e),e.proxy,m(e,r))})})}function j(e,i){return(i||!e.isDefaultPrevented)&&(i||(i=e),t.each(E,function(t,n){var r=i[t];e[t]=function(){return this[n]=x,r&&r.apply(i,arguments)},e[n]=b}),(i.defaultPrevented!==n?i.defaultPrevented:"returnValue"in i?i.returnValue===!1:i.getPreventDefault&&i.getPreventDefault())&&(e.isDefaultPrevented=x)),e}function T(t){var e,i={originalEvent:t};for(e in t)w.test(e)||t[e]===n||(i[e]=t[e]);return j(i,t)}var n,e=1,i=Array.prototype.slice,r=t.isFunction,o=function(t){return"string"==typeof t},s={},a={},u="onfocusin"in window,f={focus:"focusin",blur:"focusout"},c={mouseenter:"mouseover",mouseleave:"mouseout"};a.click=a.mousedown=a.mouseup=a.mousemove="MouseEvents",t.event={add:v,remove:y},t.proxy=function(e,n){if(r(e)){var i=function(){return e.apply(n,arguments)};return i._zid=l(e),i}if(o(n))return t.proxy(e[n],e);throw new TypeError("expected function")},t.fn.bind=function(t,e,n){return this.on(t,e,n)},t.fn.unbind=function(t,e){return this.off(t,e)},t.fn.one=function(t,e,n,i){return this.on(t,e,n,i,1)};var x=function(){return!0},b=function(){return!1},w=/^([A-Z]|returnValue$|layer[XY]$)/,E={preventDefault:"isDefaultPrevented",stopImmediatePropagation:"isImmediatePropagationStopped",stopPropagation:"isPropagationStopped"};t.fn.delegate=function(t,e,n){return this.on(e,t,n)},t.fn.undelegate=function(t,e,n){return this.off(e,t,n)},t.fn.live=function(e,n){return t(document.body).delegate(this.selector,e,n),this},t.fn.die=function(e,n){return t(document.body).undelegate(this.selector,e,n),this},t.fn.on=function(e,s,a,u,f){var c,l,h=this;return e&&!o(e)?(t.each(e,function(t,e){h.on(t,s,a,e,f)}),h):(o(s)||r(u)||u===!1||(u=a,a=s,s=n),(r(a)||a===!1)&&(u=a,a=n),u===!1&&(u=b),h.each(function(n,r){f&&(c=function(t){return y(r,t.type,u),u.apply(this,arguments)}),s&&(l=function(e){var n,o=t(e.target).closest(s,r).get(0);return o&&o!==r?(n=t.extend(T(e),{currentTarget:o,liveFired:r}),(c||u).apply(o,[n].concat(i.call(arguments,1)))):void 0}),v(r,e,u,a,s,l||c)}))},t.fn.off=function(e,i,s){var a=this;return e&&!o(e)?(t.each(e,function(t,e){a.off(t,i,e)}),a):(o(i)||r(s)||s===!1||(s=i,i=n),s===!1&&(s=b),a.each(function(){y(this,e,s,i)}))},t.fn.trigger=function(e,n){return e=o(e)||t.isPlainObject(e)?t.Event(e):j(e),e._args=n,this.each(function(){"dispatchEvent"in this?this.dispatchEvent(e):t(this).triggerHandler(e,n)})},t.fn.triggerHandler=function(e,n){var i,r;return this.each(function(s,a){i=T(o(e)?t.Event(e):e),i._args=n,i.target=a,t.each(h(a,e.type||e),function(t,e){return r=e.proxy(i),i.isImmediatePropagationStopped()?!1:void 0})}),r},"focusin focusout load resize scroll unload click dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave change select keydown keypress keyup error".split(" ").forEach(function(e){t.fn[e]=function(t){return t?this.bind(e,t):this.trigger(e)}}),["focus","blur"].forEach(function(e){t.fn[e]=function(t){return t?this.bind(e,t):this.each(function(){try{this[e]()}catch(t){}}),this}}),t.Event=function(t,e){o(t)||(e=t,t=e.type);var n=document.createEvent(a[t]||"Events"),i=!0;if(e)for(var r in e)"bubbles"==r?i=!!e[r]:n[r]=e[r];return n.initEvent(t,i,!0),j(n)}}(Zepto),function(t){function l(e,n,i){var r=t.Event(n);return t(e).trigger(r,i),!r.isDefaultPrevented()}function h(t,e,i,r){return t.global?l(e||n,i,r):void 0}function p(e){e.global&&0===t.active++&&h(e,null,"ajaxStart")}function d(e){e.global&&!--t.active&&h(e,null,"ajaxStop")}function m(t,e){var n=e.context;return e.beforeSend.call(n,t,e)===!1||h(e,n,"ajaxBeforeSend",[t,e])===!1?!1:void h(e,n,"ajaxSend",[t,e])}function g(t,e,n,i){var r=n.context,o="success";n.success.call(r,t,o,e),i&&i.resolveWith(r,[t,o,e]),h(n,r,"ajaxSuccess",[e,n,t]),y(o,e,n)}function v(t,e,n,i,r){var o=i.context;i.error.call(o,n,e,t),r&&r.rejectWith(o,[n,e,t]),h(i,o,"ajaxError",[n,i,t||e]),y(e,n,i)}function y(t,e,n){var i=n.context;n.complete.call(i,e,t),h(n,i,"ajaxComplete",[e,n]),d(n)}function x(){}function b(t){return t&&(t=t.split(";",2)[0]),t&&(t==f?"html":t==u?"json":s.test(t)?"script":a.test(t)&&"xml")||"text"}function w(t,e){return""==e?t:(t+"&"+e).replace(/[&?]{1,2}/,"?")}function E(e){e.processData&&e.data&&"string"!=t.type(e.data)&&(e.data=t.param(e.data,e.traditional)),!e.data||e.type&&"GET"!=e.type.toUpperCase()||(e.url=w(e.url,e.data),e.data=void 0)}function j(e,n,i,r){return t.isFunction(n)&&(r=i,i=n,n=void 0),t.isFunction(i)||(r=i,i=void 0),{url:e,data:n,success:i,dataType:r}}function S(e,n,i,r){var o,s=t.isArray(n),a=t.isPlainObject(n);t.each(n,function(n,u){o=t.type(u),r&&(n=i?r:r+"["+(a||"object"==o||"array"==o?n:"")+"]"),!r&&s?e.add(u.name,u.value):"array"==o||!i&&"object"==o?S(e,u,i,n):e.add(n,u)})}var i,r,e=0,n=window.document,o=/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi,s=/^(?:text|application)\/javascript/i,a=/^(?:text|application)\/xml/i,u="application/json",f="text/html",c=/^\s*$/;t.active=0,t.ajaxJSONP=function(i,r){if(!("type"in i))return t.ajax(i);var f,h,o=i.jsonpCallback,s=(t.isFunction(o)?o():o)||"jsonp"+ ++e,a=n.createElement("script"),u=window[s],c=function(e){t(a).triggerHandler("error",e||"abort")},l={abort:c};return r&&r.promise(l),t(a).on("load error",function(e,n){clearTimeout(h),t(a).off().remove(),"error"!=e.type&&f?g(f[0],l,i,r):v(null,n||"error",l,i,r),window[s]=u,f&&t.isFunction(u)&&u(f[0]),u=f=void 0}),m(l,i)===!1?(c("abort"),l):(window[s]=function(){f=arguments},a.src=i.url.replace(/\?(.+)=\?/,"?$1="+s),n.head.appendChild(a),i.timeout>0&&(h=setTimeout(function(){c("timeout")},i.timeout)),l)},t.ajaxSettings={type:"GET",beforeSend:x,success:x,error:x,complete:x,context:null,global:!0,xhr:function(){return new window.XMLHttpRequest},accepts:{script:"text/javascript, application/javascript, application/x-javascript",json:u,xml:"application/xml, text/xml",html:f,text:"text/plain"},crossDomain:!1,timeout:0,processData:!0,cache:!0},t.ajax=function(e){var n=t.extend({},e||{}),o=t.Deferred&&t.Deferred();for(i in t.ajaxSettings)void 0===n[i]&&(n[i]=t.ajaxSettings[i]);p(n),n.crossDomain||(n.crossDomain=/^([\w-]+:)?\/\/([^\/]+)/.test(n.url)&&RegExp.$2!=window.location.host),n.url||(n.url=window.location.toString()),E(n),n.cache===!1&&(n.url=w(n.url,"_="+Date.now()));var s=n.dataType,a=/\?.+=\?/.test(n.url);if("jsonp"==s||a)return a||(n.url=w(n.url,n.jsonp?n.jsonp+"=?":n.jsonp===!1?"":"callback=?")),t.ajaxJSONP(n,o);var j,u=n.accepts[s],f={},l=function(t,e){f[t.toLowerCase()]=[t,e]},h=/^([\w-]+:)\/\//.test(n.url)?RegExp.$1:window.location.protocol,d=n.xhr(),y=d.setRequestHeader;if(o&&o.promise(d),n.crossDomain||l("X-Requested-With","XMLHttpRequest"),l("Accept",u||"*/*"),(u=n.mimeType||u)&&(u.indexOf(",")>-1&&(u=u.split(",",2)[0]),d.overrideMimeType&&d.overrideMimeType(u)),(n.contentType||n.contentType!==!1&&n.data&&"GET"!=n.type.toUpperCase())&&l("Content-Type",n.contentType||"application/x-www-form-urlencoded"),n.headers)for(r in n.headers)l(r,n.headers[r]);if(d.setRequestHeader=l,d.onreadystatechange=function(){if(4==d.readyState){d.onreadystatechange=x,clearTimeout(j);var e,i=!1;if(d.status>=200&&d.status<300||304==d.status||0==d.status&&"file:"==h){s=s||b(n.mimeType||d.getResponseHeader("content-type")),e=d.responseText;try{"script"==s?(1,eval)(e):"xml"==s?e=d.responseXML:"json"==s&&(e=c.test(e)?null:t.parseJSON(e))}catch(r){i=r}i?v(i,"parsererror",d,n,o):g(e,d,n,o)}else v(d.statusText||null,d.status?"error":"abort",d,n,o)}},m(d,n)===!1)return d.abort(),v(null,"abort",d,n,o),d;if(n.xhrFields)for(r in n.xhrFields)d[r]=n.xhrFields[r];var T="async"in n?n.async:!0;d.open(n.type,n.url,T,n.username,n.password);for(r in f)y.apply(d,f[r]);return n.timeout>0&&(j=setTimeout(function(){d.onreadystatechange=x,d.abort(),v(null,"timeout",d,n,o)},n.timeout)),d.send(n.data?n.data:null),d},t.get=function(){return t.ajax(j.apply(null,arguments))},t.post=function(){var e=j.apply(null,arguments);return e.type="POST",t.ajax(e)},t.getJSON=function(){var e=j.apply(null,arguments);return e.dataType="json",t.ajax(e)},t.fn.load=function(e,n,i){if(!this.length)return this;var a,r=this,s=e.split(/\s/),u=j(e,n,i),f=u.success;return s.length>1&&(u.url=s[0],a=s[1]),u.success=function(e){r.html(a?t("<div>").html(e.replace(o,"")).find(a):e),f&&f.apply(r,arguments)},t.ajax(u),this};var T=encodeURIComponent;t.param=function(t,e){var n=[];return n.add=function(t,e){this.push(T(t)+"="+T(e))},S(n,t,e),n.join("&").replace(/%20/g,"+")}}(Zepto),function(t){t.fn.serializeArray=function(){var n,e=[];return t([].slice.call(this.get(0).elements)).each(function(){n=t(this);var i=n.attr("type");"fieldset"!=this.nodeName.toLowerCase()&&!this.disabled&&"submit"!=i&&"reset"!=i&&"button"!=i&&("radio"!=i&&"checkbox"!=i||this.checked)&&e.push({name:n.attr("name"),value:n.val()})}),e},t.fn.serialize=function(){var t=[];return this.serializeArray().forEach(function(e){t.push(encodeURIComponent(e.name)+"="+encodeURIComponent(e.value))}),t.join("&")},t.fn.submit=function(e){if(e)this.bind("submit",e);else if(this.length){var n=t.Event("submit");this.eq(0).trigger(n),n.isDefaultPrevented()||this.get(0).submit()}return this}}(Zepto),function(t){"__proto__"in{}||t.extend(t.zepto,{Z:function(e,n){return e=e||[],t.extend(e,t.fn),e.selector=n||"",e.__Z=!0,e},isZ:function(e){return"array"===t.type(e)&&"__Z"in e}});try{getComputedStyle(void 0)}catch(e){var n=getComputedStyle;window.getComputedStyle=function(t){try{return n(t)}catch(e){return null}}}}(Zepto);
</script>
    <script>Zepto(function($) {
  prettyPrint();

  var $frameContainer = $('.frames-container');
  var $container      = $('.details-container');
  var $activeLine     = $frameContainer.find('.frame.active');
  var $activeFrame    = $container.find('.frame-code.active');
  var headerHeight    = $('header').height();

  var highlightCurrentLine = function() {
    // Highlight the active and neighboring lines for this frame:
    var activeLineNumber = +($activeLine.find('.frame-line').text());
    var $lines           = $activeFrame.find('.linenums li');
    var firstLine        = +($lines.first().val());

    $($lines[activeLineNumber - firstLine - 1]).addClass('current');
    $($lines[activeLineNumber - firstLine]).addClass('current active');
    $($lines[activeLineNumber - firstLine + 1]).addClass('current');
  }

  // Highlight the active for the first frame:
  highlightCurrentLine();

  $frameContainer.on('click', '.frame', function() {
    var $this  = $(this);
    var id     = /frame\-line\-([\d]*)/.exec($this.attr('id'))[1];
    var $codeFrame = $('#frame-code-' + id);

    if ($codeFrame) {
      $activeLine.removeClass('active');
      $activeFrame.removeClass('active');

      $this.addClass('active');
      $codeFrame.addClass('active');

      $activeLine  = $this;
      $activeFrame = $codeFrame;

      highlightCurrentLine();

      $container.scrollTop(headerHeight);
    }
  });
  
  if (typeof ZeroClipboard !== "undefined") {
	  ZeroClipboard.config({
		  moviePath: '//ajax.cdnjs.com/ajax/libs/zeroclipboard/1.3.5/ZeroClipboard.swf',
	  });

	  var clipEl = document.getElementById("copy-button");
	  var clip = new ZeroClipboard( clipEl );
	  var $clipEl = $(clipEl);

	  // show the button, when swf could be loaded successfully from CDN
	  clip.on("load", function() {
		  $clipEl.show();
	  });
  }
});
</script>
  </body>
</html>
