
<div id="home" class="row">
  <div class="large-6 large-offset-3">
    <h2>Welcome to the  page!</h2>

    <div class="alert-box"></div>

    <ul class="small-block-grid-2">
      <li>
        <img class="th" src="app/img/demo1.jpg" shows-message-when-hovered message="i m the 1st">
      </li>
      <li>
        <img class="th" src="app/img/demo2.jpg" shows-message-when-hovered message="i m the 2st">
      </li>
    </ul>

    <div class="row">
      <div class="large-12 columns">
        <button class="button large expand radius" ng-click="logout()">Log Out</button>
      </div>
    </div>
  </div>
</div>
